<table class="wide">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Options</th>
  </tr>
  {% for tenant in tenants %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{tenant.id}}</td>
      <td>{{tenant.description}}</td>
      <td id="actions">
        <ul>
          <li class="form">{% include "softadmin/tenant_delete_form.html" with form=tenant_delete_form %}</li>
          <li><a href="{% url softadmin/tenant_update tenant.id %}">Edit</a></li>
          <li><a href="{% url softadmin/tenant_users tenant.id %}">Admins</a></li>
          <li><a href="{% url softadmin/tenant_quotas tenant.id %}">Modify Quotas</a></li>
        </ul>
      </td>
    </tr>
  {% endfor %}
</table>      
