<div id='sidebar'>
  <h3>Project Admin Panel</h3>
  <ul class='sub_nav'>
    <li><a {% if current_sidebar == "overview" %} class="active" {% endif %} href="{% url projadmin/overview %}">Overview</a></li>
    <li><a {% if current_sidebar == "instances" %} class="active" {% endif %} href="{% url projadmin/instances %}">Instances</a></li>
    <li><a {% if current_sidebar == "flavors" %} class="active" {% endif %} href="{% url projadmin/flavors %}">Flavors</a></li>
    <li><a {% if current_sidebar == "images" %} class="active" {% endif %} href="{% url projadmin/images %}">Images</a></li>
    <li><a {% if current_sidebar == "users" %} class="active" {% endif %} href="{% url projadmin/users%}">Users</a></li>
  </ul>
</div>
