<div id='sidebar'>
  <h3>User Panel</h3>
  <ul class='sub_nav'>
    <li><a {% if current_sidebar == "overview" %} class="active" {% endif %} href="{% url user/overview %}">Overview</a></li>
    <li><a {% if current_sidebar == "instances" %} class="active" {% endif %} href="{% url user/instances request.user.tenant %}">Instances</a></li>
    <li><a {% if current_sidebar == "images" %} class="active" {% endif %} href="{% url user/images request.user.tenant %}">Images</a></li>
    <li><a {% if current_sidebar == "keypairs" %} class="active" {% endif %} href="{% url user/keypairs request.user.tenant %}">Keypairs</a></li>
    <li><a {% if current_sidebar == "security_groups" %} class="active" {% endif %} href="{% url user/security_groups request.user.tenant %}">Security Groups</a></li>
    <li><a {% if current_sidebar == "api_credentials" %} class="active" {% endif %} href="{% url user/api_credentials request.user.tenant %}">Api Credentials</a></li>
  </ul>
  {% if swift_configured %}
  <h3>Manage Object Store</h3>
  <ul class='sub_nav'>
    <li><a {% if current_sidebar == "containers" %} class="active" {% endif %} href="{% url user/containers request.user.tenant %}">Containers</a></li>
  </ul>
  {% endif %}
</div>
